<form action="/{{route}}" method="{{ternary isEdit 'put' 'post'}}" class="form-horizontal well equipamento">
	
    <fieldset>

       <div class="control-group">
           <label class="control-label"> Nome do Nivel</label>
           <div class="controls"><input type="text" name="nome" maxlength="17" class="uppercase" value="{{result.nome}}" required></div><!-- .controls -->
       </div></br><!-- .control-group -->
       <div class="control-group">

           
           <label class="control-label"> Ip do Equipamento</label>
           <div class="controls">

               <a href="#" class="btn btn-success btn-adicionar-modelo" data-original-title="" title="" class="mascara-ip" ><i class="fa fa-plus"></i> Adicionar Ip (F4)</a>
               
               <div class="container modelo">
               {{#result.ip}}
                   <div class="item modelo">
                       <input type="text" name="ip" class="uppercase" value="{{.}}" required>&nbsp;
                       <a href="#" class="btn btn-danger btn-excluir-item"><i class="fa fa-trash-o no-padding"></i> </a>
                   </div>
               {{/result.ip}}
               </div>

           </div><!-- .controls -->
       </div><!-- .control-group -->

       <br><div class="control-group">
            <h4><label class="control-label"> Liberação Feriado</label></h4>
            <div class="controls"  required>             
                {{#checked result.feriado}}
                    <label><input type="radio" name="feriado" id="feriado" value="true" > SIM</label>&nbsp;
                    <label><input type="radio" name="feriado" id="feriado" value="false" > NÃO</label>
                {{/checked}}
                    
            </div>
        </div>

       

   <br><div class="control-group">
        <h4><label class="control-label"> Liberação Sentido</label></h4>
        <div class="row">                
            {{#checked result.nivel}}
                <label><input type="radio" name="nivel" id="nivel" value="ambos" > AMBOS</label>&nbsp;
                <label><input type="radio" name="nivel" id="nivel" value="entrada" > ENTRADA</label>
                <label><input type="radio" name="nivel" id="nivel" value="saida" > SAIDA</label>
            {{/checked }}
        </div>
    </div>

   <br><div><h4><label> Dias de Semana</label></h4></div>
            	<div class="row">
            		{{#checkedMultiple result.semana}}
	            		<div class="col-lg-4"><label><input type="checkbox" name="semana" id="semana"  value="Seg"> Seg</label></div>
	            		<div class="col-lg-4"><label><input type="checkbox" name="semana" id="semana" value="Ter"> Ter</label></div>
	            		<div class="col-lg-4"><label><input type="checkbox" name="semana" id="semana" value="Qua"> Qua</label></div>
                        <div class="col-lg-4"><label><input type="checkbox" name="semana" id="semana" value="Qui"> Qui</label></div>
                        <div class="col-lg-4"><label><input type="checkbox" name="semana" id="semana" value="Sex"> Sex</label></div>
                        <div class="col-lg-4"><label><input type="checkbox" name="semana" id="semana" value="Sab"> Sab</label></div>
                        <div class="col-lg-4"><label><input type="checkbox" name="semana" id="semana" value="Dom"> Dom</label></div>
					{{/checkedMultiple}}
				</div>
                <hr />
    </fieldset>
      

   <input type="hidden" name="id" value="{{result.id}}"></td>
   {{>form-footer}}
</form>

<div class="modelo item clone">
   <input type="text" name="ip" value="" class="mascara-ip" required>&nbsp;
   <a href="#" class="btn btn-danger btn-excluir-item"><i class="fa fa-trash-o no-padding"></i> </a>
</div>
